.add-button{
    background-color: #1f7a63;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-button:hover{
    background-color: #176654;
}