.add-budget-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Title */
.add-budget-form h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

/* Divider under title */
.add-budget-form h3::after {
    content: "";
    display: block;
    height: 1px;
    background: #eaeaea;
    margin-top: 12px;
}

/* Inputs */
.add-budget-form input {
    width: 100%;
    height: 52px;
    padding: 0 16px;
    font-size: 15px;
    border-radius: 14px;
    border: 1px solid #ddd;
    outline: none;
    transition: border 0.2s ease;
}

.add-budget-form input::placeholder {
    color: #aaa;
}

.add-budget-form input:focus {
    border-color: #1f7a63;
}

/* Buttons wrapper */
.add-budget-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

/* Save button */
.save-btn {
    background: #1f7a63;
    color: #fff;
    padding: 14px 36px;
    border-radius: 14px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.save-btn:hover {
    background: #176452;
}

/* Cancel button */
.cancel-btn {
    background: #f1f1f1;
    color: #111;
    padding: 14px 36px;
    border-radius: 14px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.cancel-btn:hover {
    background: #e4e4e4;
}

.add-budget-form select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: 52px;
    padding: 0 16px;
    font-size: 15px;
    border-radius: 14px;
    border: 1px solid #ddd;
    outline: none;
    transition: border 0.2s ease;
    color: #aaa;
}