.modal-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal{
    background: white;
    padding: 20px;
    width: 320px;
    border-radius: 12px;
}

.modal h3{
    margin-bottom: 15px;
}

.modal input,.modal select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.modal-actions{
    display: flex;
    justify-content: space-between;
}

.modal-actions button{
    padding: 8px 12px;
}