*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter',sans-serif;
    background-color: #f7f4ef;
    color: #1f1f1f;
}

html,body,#root{
    width: 100%;
    height: 100%;
    background: #f7f7f5;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.card{
    background: #ffffff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.004);
}