.auth-page{
    min-height: 100vh;
    min-width: 100vm;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f4ef;
}

.auth-conatiner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f4ef;
}

.auth-card{
    width: 420px;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    text-align: center;
}

.auth-card h2{
    margin-bottom: 6px;
}

.brand{
    color: #2f6f6a;
    font-weight: 700;
    margin-bottom: 20px;
}

.subtitle{
    color: #777;
    margin-bottom: 25px;
}

.auth-card input{
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: 1px solid #e6e3de;
    background-color: white;
    border-color: black;
    border-width: 1px;
    color: black;
}

.auth-card button{
    width: 100%;
    padding: 14px;
    background: #2f6f6a;
    color: white;
    border: none;
    border-radius: 14px;
    font-weight: 600;
}

.login{
    cursor: pointer;
    color: blue;
}

.link-text{
    padding-top: 5px;
}

.error{
    color: red;
    margin-bottom: 12px;
}

.primary-btn{
    width: 100%;
    padding: 12px;
    background: #2f6f6d;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.divider{
    margin: 20px 0;
    font-size: 13px;
    color: #aaa;
}

.oauth-btn{
    width: 100%;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

.oauth-btn.google{
    border-color: #ddd;
}

.oauth-btn.facebook{
    border-color: #3b5998;
    background: #3b5998;
}

.switch-text{
    margin-top: 18px;
    font-size: 14px;
}

.switch-text span{
    color: #2f6f6d;
    cursor: pointer;
    font-weight: 600;
}