.modal-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-box{
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    width: 420px;
}

.modal-close{
    float: right;
    cursor: pointer;
    font-size: 20px;
}